<svg height="20" width="{{.TotalWidth}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
	<linearGradient id="b" x2="0" y2="100%">
		<stop offset="0" stop-color="#fff" stop-opacity=".7"/>
		<stop offset=".1" stop-color="#aaa" stop-opacity=".1"/>
		<stop offset=".9" stop-color="#000" stop-opacity=".3"/>
		<stop offset="1" stop-color="#000" stop-opacity=".5"/>
	</linearGradient>
	<clipPath id="a">
		<rect height="20" width="{{.TotalWidth}}" rx="3"/>
	</clipPath>
	<g clip-path="url(#a)">
		<path d="M0 0h{{.SubjectWidth}}v20H0z" fill="#555"/>
		<path d="M{{.SubjectWidth}} 0h{{.StatusWidth}}v20H{{.SubjectWidth}}z" fill="{{.Color}}"/>
		<path d="M0 0h{{.TotalWidth}}v20H0z" fill="url(#b)"/>
	</g>
	<g font-family="Verdana,sans-serif" font-size="{{multiply .FontSize 10}}">
		<text fill="#000" fill-opacity=".3" textLength="{{multiply .SubjectTextWidth 10}}" transform="scale(.1)" x="{{multiply .SubjectOffset 10}}" y="150">{{.Subject}}</text>
		<text fill="{{.SubjectFontColor}}" textLength="{{multiply .SubjectTextWidth 10}}" transform="scale(.1)" x="{{multiply .SubjectOffset 10}}" y="140">{{.Subject}}</text>
		<text fill="#000" fill-opacity=".3" textLength="{{multiply .StatusTextWidth 10}}" transform="scale(.1)" x="{{multiply .StatusOffset 10}}" y="150">{{.Status}}</text>
		<text fill="{{.StatusFontColor}}" textLength="{{multiply .StatusTextWidth 10}}" transform="scale(.1)" x="{{multiply .StatusOffset 10}}" y="140">{{.Status}}</text>
	</g>
</svg>
