<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" height="20" width="{{.TotalWidth}}">
	<clipPath id="a">
		<rect height="20" width="{{.TotalWidth}}" rx="2"/>
	</clipPath>
	<g clip-path="url(#a)">
		<path d="M0 0h{{.SubjectWidth}}v20H0z" fill="#f1f1f1"/>
		<path id="fill" d="M{{.SubjectWidth}} 0h{{.StatusWidth}}v20H{{.SubjectWidth}}z" fill="{{.Color}}"/>
	</g>
	<g font-family="Verdana,sans-serif" font-size="{{.FontSize}}">
		{{if .IconBase64Str}}
		<image id="icon" alt="{{.IconLabel}}" height="12" width="12" x="{{.PaddingOuter}}" y="4" xlink:href="data:image/svg+xml;base64,{{.IconBase64Str}}"></image>
		{{end}}
		<text id="subject" fill="{{.SubjectFontColor}}" textLength="{{.SubjectTextWidth}}" x="{{.SubjectOffset}}" y="13">{{.Subject}}</text>
		<text id="status" fill="{{.StatusFontColor}}" textLength="{{.StatusTextWidth}}" x="{{.StatusOffset}}" y="13">{{.Status}}</text>
	</g>
</svg>
